<h1>Login successful</h1>
<h3>Here are your works that have to be done: </h3>
<div>
    <% data.forEach((mc) => {%>
        <p>Task: <%=mc.desc%>  Location: <%=mc.locationId%> Be done by: <%=mc.time%></p>
    <%})%>
</div>